.migrate-table-selection {
    width: 100%;
    display: flex;
    height: 250px;
}

.migrate-table-selection-1,
.migrate-table-selection-2 {
    width: 100%;
}

.migrate-table-selection-1 {
    padding-right: 0.5%;
}

.migrate-table-selection-2 {
    padding-left: 0.5%
}

.migrator-box {
    width: 100%;
    border: 1px solid rgba(140, 140, 145, 0.5);
    border-radius: 5px;
    padding: 20px
}

.migrat-col {
    display: flex;
    flex-direction: column
}