@import '~antd/dist/antd.css';
.container {
    background-color: #fff;
    padding: 10px
}

.form-helper-text {
    padding: 0.5rem
}

.form-helper-text span {
    color: red;
    padding: 0.2rem
}

.form-input-row {
    display: flex;
    flex-direction: row
}

.text-center {
    text-align: center
}

.float-right {
    text-align: right
}

.form-control {
  padding: 1rem;
  display: flex;
  flex-direction: column
}

.flex-column {
    flex-direction: column
}

label {
    color: black;
    font-weight: bolder
}

.star {
    text-align: center;
    color: red;
    padding: 0.2rem
}

.inputField {
    width: auto
  }